@import '../Seatingplan/Seatingplan.css';

.chairman,
.seat {
  width: calc(var(--seatWidth) * var(--plan-width) / 15);
  position: absolute;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 7px hsla(0, 0%, 0%, 0.9);
}

.chairman {
  left: 50%;
  top: 10%;
}

.seat {
  left: calc(50% + var(--pointX) * var(--plan-width) / 15);
  top: calc(var(--pointY) * var(--plan-height) / 10);
}


