
/* Ensure .seating-plan takes full width and maintains aspect ratio */
.seating-plan {
    position: relative;
    border: 3px solid black;
    min-width: 500px;
    max-height: 90vh;
    aspect-ratio: 1.5;
}
  
  /* Adjust chairman and seat positions and sizes to fit within .seating-plan */
  .chairman,
  .seat {
    position: absolute;
    width: calc(var(--seatWidth) * 6%);
    aspect-ratio: 1;
  }
  
  .chairman {
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
  }
  
  .seat {
    left: calc(50% + var(--pointX) * 6%);
    transform: translateX(-50%);
    top: calc(5% + var(--pointY) * 6%);
  }

  
  