/* SeatingPlan.css */
.seating-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-bottom: 10px;
    direction: ltr;
}

.spacer {
    width: 20px;
}
  