.seating-plan {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
}

.seatGroup {
    display: flex;
    flex-direction: row;
    margin: 3px 10px
}

/* Align the contents of the first seatGroup to the right */
.row .seatGroup:nth-child(1) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* If there is only one seatGroup (eg. the chairman) align center */
.row .seatGroup:only-child {
    justify-content: center;
}


.row .seatGroup:nth-child(4) {
    flex: 1;
}

/* Center the whole row between the 2nd and 3rd seatGroups */
.row .seatGroup:nth-child(2),
.row .seatGroup:nth-child(3) {
    display: flex;
    justify-content: center;
}
