
/* Ensure .seating-plan takes full width and maintains aspect ratio */
.seating-plan {
    position: relative;
    border: 3px solid black;
    min-width: 500px;
    max-width: 1000px;
    max-height: 90vh;
    aspect-ratio: 1.5;
    --plan-width: 100%;
    --plan-height: 100%;
}
  
  /* Adjust chairman and seat positions and sizes to fit within .seating-plan */
  .chairman,
  .seat {
    position: absolute;
    width: calc(var(--seatWidth) * var(--plan-width)/15);
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
  }
  
  .chairman {
    left: 50%;
    top: 10%;
  }
  
  .seat {
    left: calc(50% + var(--pointX) * var(--plan-width)/15);
    top: calc(var(--pointY) * var(--plan-width)/10);
  }

  
  