.member-section {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0;
  background-color: #006548;
}

.member-info {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 0;
  box-sizing: border-box;
  background-color: #006548;
}


.member-image {
  width: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 4px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.member-info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.member-info-text h2 {
  margin: 0 0 0.5rem;
  font-size: 1.75rem;
  color: white;
}

.member-info-text p {
  margin: 0.3rem 0;
  font-size: 1.1rem;
  color: white;
}
