# Ignore node_modules
node_modules

# Ignore build directory in frontend
frontend/dist/

# Ignore environment variables file
.env

# Ignore Python virtual environment in backend
backend/venv/

# Ignore system-specific files
.DS_Store
Thumbs.db

