# General
build
images
.env
node_modules
.venv
venv
.DS_Store
Thumbs.db

# Data
databases
documents
pictures

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/


# Docker-related files
*.log
*.pid
*.sock

# Docker Compose override files
docker-compose.override.yml

# Docker volumes or bind mounts
volumes/
data/
tmp/

# Environment files (if used)
.env
.env.*

# Build artifacts
*.tar
*.gz
*.img
*.bak

