services:
  postgres:
    image: postgres:16
    networks:
      - app-network

  backend:
    build: ./backend
    environment:
      PORT: ${BACKEND_PORT:-3000}
    depends_on:
      - postgres
    networks:
      - app-network

  data_management:
    build: ./data_management
    depends_on:
      - postgres
    networks:
      - app-network

  frontend:
    build: ./frontend
    environment:
      PORT: ${FRONTEND_PORT:-3001}
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    name: parliament_visualiser_app-network

