version: "3.9"

services:
  postgres:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build: ./backend
    environment:
      PORT: ${BACKEND_PORT:-3000}
    depends_on:
      - postgres
    volumes:
      - shared_assets:/app/assets
    networks:
      - app-network

  data_management:
    build: ./data_management
    command: tail -f /dev/null
    depends_on:
      - postgres
    volumes:
      - shared_assets:/app/assets
    networks:
      - app-network

  remix-app:
    build: ./remix-app
    environment:
      PORT: ${FRONTEND_PORT:-3001}
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  postgres_data:
  shared_assets:

networks:
  app-network:
    name: parliament_visualiser_app-network

