body {
    margin: 0;
    padding: 0;
    background-color: rgb(235,233,232);
}

header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 49, 81);
    color: white;
    font-size: 200%;
}

.main-content {
    background-color: white;
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    width: 100%;
    margin: 10px auto;
    padding: 0 16px;
}



/* Make card grid switch to single column when screen width is less than 900px */
@media (max-width: 1100px) {
    .main-content {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .main-content {
        margin: 0;
        width: 100vw;
        min-width: initial;
    }
}
