body {
    margin: 0;
    padding: 0;
    background-color: rgb(235,233,232);
}

header {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 49, 81);
    color: white;
    font-size: 200%;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 10px auto;
}

.member-info {
    background-color: white;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
    padding: 13px;
}

.member-image {
    width: 200px;
    height: auto;
}

/* Make card grid switch to single column when screen width is less than 900px */
@media (max-width: 900px) {
    .main-content {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .main-content {
        margin: 0;
        width: 100vw;
        min-width: initial;
    }
}
