body {
    margin: 0;
    padding: 0;
    background-color: rgb(235,233,232);
}

header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 49, 81);
    color: white;
    font-size: 200%;
}

.main-content {
    background-color: white;
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    width: 100%;
    margin: 10px auto;
    padding: 16px;
    gap: 16px; /* Space between menu and content */
}

/* Left side menu container */
.main-content__menu {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Right side content container */
.main-content__content {
    flex: 1; /* Take remaining space */
    min-width: 0; /* Allow content to shrink below its natural size */
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Stack content vertically */
    width: 100%; /* Ensure it takes full width */
    min-height: 0; /* Allow it to shrink */
}

/* Make card grid switch to single column when screen width is less than 900px */
@media (max-width: 1100px) {
    .main-content {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .main-content {
        margin: 0;
        width: 100vw;
        min-width: initial;
        flex-direction: column; /* Stack menu and content vertically on mobile */
    }
    
    .main-content__menu {
        flex-shrink: 1; /* Allow menu to shrink on mobile */
    }
}
