.circle {
    display: flex;
    width: 20px; /* Adjust to your required size */
    height: 20px; /* Adjust to your required size */
    background-color: white;
    border-radius: 50%;
    border: 2px solid;
    overflow: hidden; /* Ensure the image does not overflow the circle */
    justify-content: center;
    align-items: center;
  }
  
  .circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the circle without distortion */
  }
  
  .seat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text {
    width: 45px; /* Match the circle width */
    font-size: 8px; /* Adjust font size to fit within the width */
    white-space: normal; /* Prevent word breaking */
    overflow: hidden; /* Hide any overflowed text */
    hyphens: manual; /* Enable manual hyphenation */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    text-align: left; /* Align text to the left */
    margin-top: 5px; /* Add some spacing between the circle and text */
    text-align: center;
  }
  