.circle {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid;
    overflow: hidden;

  }
  
.circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  

  