FRONTEND_PORT={{FRONTEND_PORT}}
ENVIRONMENT={{ENVIRONMENT}}
NODE_ENV={{NODE_ENV}}
PORT={{FRONTEND_PORT}}

VITE_BACKEND_API_URL={{VITE_BACKEND_API_URL}}
INTERNAL_BACKEND_API_URL={{INTERNAL_BACKEND_API_URL}}
