/* Ensure .seating-plan takes full width and maintains aspect ratio */
.seating-plan {
  position: relative;
  width: 100%;
  aspect-ratio: 1.5;
  background-color: white;
  box-shadow: 0 4px 16px rgba(55,49,81,0.07);
  border: 1.5px solid #ece8f6;
  margin: auto;
  box-sizing: border-box;

}


.infobox {
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 10;
}


@media (max-width: 550px) {

  .seating-plan {
    display: none;
  }
}

