/* Ensure .seating-plan takes full width and maintains aspect ratio */
.seating-plan {
  position: relative;
  width: 100%;
  --plan-width: 100%;
  --plan-height: 100%;
  aspect-ratio: 1.5;
  background-color: white;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
  margin: auto;
}


.infobox {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: block;
}


@media (max-width: 550px) {

  .seating-plan {
    display: none;
  }
}

