.card {
  text-decoration: inherit;
  color: inherit;
  display: flex;
  align-items: flex-start;
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: white;
  overflow: hidden;
}

.card-image {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}


.card-text {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.card-text h2 {
    margin: 0;
    font-size: 1.5em; 
}

.card-text p {
    margin: 0;
    font-size: 1em;
}
