body {
    margin: 0;
    background-color: rgb(235,233,232);
}

header {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 49, 81);
    color: white;
    font-size: 200%;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.member-list {
    width: 100%;
}

.card-list {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

/* Make card grid switch to single column when screen width is less than 700px */
@media (max-width: 700px) {
    .card-list {
        grid-template-columns: 1fr; /* One card per row */
    }
    .main-content {
        width: 90vw;
    }
}
