:root {
    --right-width: 300px;
}

body {
    margin: 0;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vw;
    width: 100vw;
}

.left-col {
    flex-grow: 1;
    display: flex;
    width: 1000px;
    flex-direction: column;
}

.right-col {
    width: var(--right-width);
    display: flex;
    flex-direction: column;
}

