body {
    margin: 0;
    background-color: rgb(235,233,232);
}

header {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 49, 81);
    color: white;
    font-size: 200%;
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

